section.contact-me {
    margin-top: 300px;

    h3.section-title {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        padding: 3rem 0rem;
    }
}
