<section id="layout-custom-section" class="contact-me">

    <div class="container">

        <h3 class="section-title">Contact Me</h3>

        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-Mail" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <input type="submit" value="Send Message" />
                </div>

                <div class="col-md-4">
                    <ul class="contact-information">
                        <li>
                            <a href="tel:+573506338022">
                                <i class="fas fa-phone-alt"></i>
                                +57 350 633 8022
                            </a>
                        </li>
                        <li>
                            <a href="mailto:hello@rafaeldeveloper.co">
                                <i class="fas fa-at"></i>
                                hello@rafaeldeveloper.co
                            </a>
                        </li>
                        <li>
                            <a href="skype:r.sanchez.arraez">
                                <i class="fab fa-skype"></i>
                                r.sanchez.arraez
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
