<div id="footer">
    <div class="container">
        <div class="social-networks-link">
            <a href="https://www.facebook.com/rafasdeveloper" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/rafasdeveloper" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.instagram.com/rafasdeveloper/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>
