//
// Layouts
//
// Styles specific to different page layouts.
//

// Used by the fixed navigation
body {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

nav {

    background-color: #000000;
    opacity: 0.95;
    font-size: 2rem;
    line-height: 1rem;
    color: #ffffff;
    height: 6rem;
    border-color: transparent;

    .navbar-collapse {

        border-color: transparent;

        .navbar-nav {

            a {
                color: #ffffff;
            }

            a:hover {
                color: #3972b3;
            }

            .active {
                a {
                    background: none;
                    color: #3972b3;
                }
            }

            li {
                margin: auto 0;
            }
        }

        .mr-right {

            li {
                text-align: center;
                background: #241030;
                border-radius: 10px;
                padding: 0.7rem 0.5rem;
                width: 8.5rem;
                margin-right: 1rem;
            }

            a:hover {
                color: #ffffff;
                font-size: 2.5rem;
            }
        }
    }

    .navbar-brand {
        padding-left: 50px;
        background-image: url('../images/r_isotipo.png');
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: 7px 50%;
        width: 6rem;
        height: 6rem;
    }
}



@include media-breakpoint-down(sm) {

    nav.navbar {
        padding: 0;
        margin: 0;
    }

    nav {

        height: 5rem;

        .navbar-toggler {
            background: #241030;
            border: 0 transparent !important;
            border-radius: 10px;
            margin-right: 1rem;
            padding: 0.4rem 0.9rem;
            color: #fff;
            font-size: 2.3rem;
            outline: none;
        }

        .navbar-collapse {
            background-color: #000000;
            opacity: 0.95;
            padding: 1rem;

            .nav-item {
                padding: 0.5rem;
            }

            .mr-right {
                li {
                    text-align: left;
                    background: transparent;
                    border-radius: 0px;
                    padding: 0.7rem 0.5rem;
                    width: auto;
                    margin-right: 0rem;
                }

                a:hover {
                    color: #ffffff;
                    font-size: 2rem;
                }
            }
        }

        .navbar-brand {
            width: 5rem;
            height: 5rem;
        }
    }
}

footer {

    background: #000;
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;

    .social-networks-link {
        a {
            margin-right: 1rem;
            color: #3972b3;
        }

        a:hover {
            text-decoration: none;
            color: #ffffff;
        }
    }
}
