//
// Fonts file
//
// Allocated area for font definitions used by this application
//

@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Bold.eot');
    src: local('Antonio Bold'), local('Antonio-Bold'),
    url('../fonts/Antonio-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Antonio-Bold.woff2') format('woff2'),
    url('../fonts/Antonio-Bold.woff') format('woff'),
    url('../fonts/Antonio-Bold.ttf') format('truetype'),
    url('../fonts/Antonio-Bold.svg#Antonio-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Light.eot');
    src: local('Antonio Light'), local('Antonio-Light'),
    url('../fonts/Antonio-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Antonio-Light.woff2') format('woff2'),
    url('../fonts/Antonio-Light.woff') format('woff'),
    url('../fonts/Antonio-Light.ttf') format('truetype'),
    url('../fonts/Antonio-Light.svg#Antonio-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Regular.eot');
    src: local('Antonio Regular'), local('Antonio-Regular'),
    url('../fonts/Antonio-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Antonio-Regular.woff2') format('woff2'),
    url('../fonts/Antonio-Regular.woff') format('woff'),
    url('../fonts/Antonio-Regular.ttf') format('truetype'),
    url('../fonts/Antonio-Regular.svg#Antonio-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//
// Chrome exhibits strange behavior when custom fonts are used
// on select inputs. This fixes the garbled text.
//
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        font-family: sans-serif;
    }
}
