<section id="layout-custom-section" class="contact-me">

    <div class="container">

        <h3 class="section-title">Contact Me</h3>

        <div class="row">

            <div class="col-md-4">
                <input type="text" placeholder="Full Name" />
                <input type="text" placeholder="Phone" />
                <input type="email" placeholder="E-Mail" />
            </div>

            <div class="col-md-4">
                <textarea placeholder="Message"></textarea>
                <input type="submit" value="Send Message" />
            </div>

            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="tel:+573506338022">
                            <i class="fas fa-phone-alt"></i>
                            +57 350 633 8022
                        </a>
                    </li>
                    <li>
                        <a href="mailto:hello@rafaeldeveloper.co">
                            <i class="fas fa-at"></i>
                            hello@rafaeldeveloper.co
                        </a>
                    </li>
                    <li>
                        <a href="skype:r.sanchez.arraez">
                            <i class="fab fa-skype"></i>
                            r.sanchez.arraez
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
